.projects__list__item:hover {
  background-color: #659dbd;
  transition: ease-in-out, background-color, transform 2s;
  cursor: pointer;
  /* border: 1px solid white; */
}

.selected {
  background-color: #8d8741;
  color: white;
}
