.intro {
  min-height: 550px;
  color: white;
}

.intro__hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../static/nyc.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.intro__content {
  padding-top: 110px;
}

.intro__content__name span {
  letter-spacing: 20px;
}

.intro__content__roles {
  border-bottom: 5px solid white;
}

ul.intro__content__roles__list {
  padding-inline-start: 0px;
}

li.intro__content__roles__list__item {
  list-style: none;
  font-size: 50px;
}

@media only screen and (max-width: 600px) {
  li.intro__content__roles__list__item {
    list-style: none;
    font-size: 30px;
  }
}
